<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar_auth">
<style>
.bg-nav-orange{
	background: #FFE0B2;
}
.bg-nav-yellow{
	background: #FFD54F;
}
.bg-nav-green{
	background: #DCEDC8;
}
</style>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-nav-orange border-bottom box-shadow mb-3 p-0">
    <div class="container p-0">
        <a class="navbar-brand">Dashboard</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between  bg-nav-green">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark bg-nav-yellow" href=".">
                    	<strong>Profession</strong>
                    </a>
                </li>
            </ul>
            <!-- <div class="flex-fill">Your name here</div> -->
            <div class="flex-fill" th:text="${account.username()}"> </div>
            <!-- <div class="flex-fill" th:text="${c}"> </div> -->
            <ul class="navbar-nav bg-nav-orange">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="javascript:;" onclick="sign_out()">Sign out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<form action="/msal4jsample/sign_out" id="frm-sign-out" class="d-none">
    <input type="submit" value="Sign out" class="btn btn-danger">
</form>

<script>
    function sign_out(){
        $("#frm-sign-out").submit()
    }
</script>

</div>
</html>